<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout
                pattern="%highlight{%5p} [%T] - %d{HH:mm:ss} - (%c{1}:%L) - %m%n%ex{full}" disableAnsi="false" />
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="io.vertx" level="WARN" />
        <Logger name="org.apache" level="WARN" />
        <Logger name="io.netty" level="WARN" />

        <Root level="TRACE" additivity="false">
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>